<!DOCTYPE html>
<html lang="en">
<head>
    <title>정성균 포트폴리오</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>
<body class="is-preload">
    <!-- Header -->
    <section id="header">
        <header>
            <span class="image avatar"><img src="~/images/memoryman.jpg" alt="" /></span>
            <h1 id="logo"><a href="#">JungSeongKyun</a></h1>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#one" class="active">Abount Me</a></li>
                <li><a href="#two">Skills</a></li>
                <li><a href="#three">Archiving</a></li>
                <li><a href="#four">Projects</a></li>
                <li><a href="#five">Career</a></li>
                <li><a href="#six">Certification</a></li>
            </ul>
        </nav>
    </section>

    @RenderBody();

    <!-- Scripts -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" asp-append-version="true">
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.scrollex.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.scrolly.min.js" asp-append-version="true"></script>
    <script src="~/js/browser.min.js" asp-append-version="true"></script>
    <script src="~/js/breakpoints.min.js" asp-append-version="true"></script>
    <script src="~/js/util.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    
</body>
</html>
