@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>백엔드 개발자 포트폴리오</h2>
                    <h3>
                        안녕하세요. <br />
                        멈추지 않는 백엔드 개발자 <br />
                        정성균 입니다.
                    </h3>
                </header>
                <hr />
                <header class="major">
                    <h5>이름 : 정성균</h5>
                    <h5>생년월일 : 93.01.07</h5>
                    <h5>위치 : 용인시 수지구</h5>
                    <h5>연락처 : 010-9596-6352</h5>
                    <h5>이메일 : memoryman93@gmail.com</h5>
                    @* <h5>학력 : 백석대학교(e-비즈니스학과)</h5> *@
                    <hr />
                </header>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>Skills</h3>
                <p>Language</p>
                <ul class="feature-icons">
                    <li class="icon solid fa-code">C#</li>
                    <li class="icon solid fa-code">JavaScript</li>
                </ul>
                <p>Frontend</p>
                <ul class="feature-icons">
                    <li class="icon solid fa-bolt">JQuery</li>
                    <li class="icon solid fa-bolt">HTML</li>
                    <li class="icon solid fa-bolt">CSS</li>
                    <li class="icon solid fa-bolt">Razor</li>
                </ul>
                <p>Backend</p>
                <ul class="feature-icons">
                    <li class="icon solid fa-bolt">MSSQL</li>
                    <li class="icon solid fa-bolt">.NET</li>
                    <li class="icon solid fa-bolt">ASP.NET</li>
                    <li class="icon solid fa-bolt">ASP</li>
                    <li class="icon solid fa-bolt">AWS</li>
                    <li class="icon solid fa-bolt">IIS</li>
                </ul>
                <p>Tool</p>
                <ul class="feature-icons">
                    <li class="icon solid fa-bolt">VisualStudio</li>
                    <li class="icon solid fa-bolt">GitHub</li>
                    <li class="icon solid fa-bolt">GitLab</li>
                    <li class="icon solid fa-bolt">Slack</li>
                    <li class="icon solid fa-bolt">Notion</li>
                </ul>
            </div>
        </section>

        <!-- Four -->
        <section id="three" text-align="center">
            <div class="container">
                <h3>Archiving</h3>
                <div class="features">
                    <article>
                        <a href="https://github.com/tunkcalb/donggam" class="image">
                            <img src="./images/github.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <a href="https://github.com/tunkcalb/donggam">
                                <h4>GitHub</h4>
                            </a>
                        </div>
                    </article>
                    <article>
                        <a href="https://github.com/tunkcalb/finball" class="image">
                            <img src="./images/blog.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <a href="https://github.com/tunkcalb/finball">
                                <h4>블로그</h4>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="four">
            <div class="container">
                <h3>Projects</h3>
                <div class="features">
                    <article>
                        <a href="https://github.com/tunkcalb/donggam" class="image">
                            <img src="./images/github.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h4>Project Title</h4>
                            <p>
                                Proejct Content
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <!-- Five -->
        <section id="five" text-align="center">
            <div class="container">
                <h3>Career</h3>
                <div class="features">

                    <article>
                        <a href="https://github.com/tunkcalb/finball" class="image">
                            <img src="./images/ttp.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h4>트립토파즈</h4>
                            <p>설명</p>
                        </div>
                    </article>


                    <article>
                        <a href="https://github.com/tunkcalb/finball" class="image">
                            <img src="./images/interpark.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h4>인터파크 비즈마켓</h4>
                            <p>설명</p>
                        </div>
                    </article>


                    <article>
                        <a href="https://github.com/tunkcalb/finball" class="image">
                            <img src="./images/ufit.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h4>유핏</h4>
                            <p>설명</p>
                        </div>
                    </article>

                    <article>
                        <a href="https://github.com/tunkcalb/finball" class="image">
                            <img src="./images/suprema.jpg" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h4>슈프리마</h4>
                            <p>설명</p>
                        </div>
                    </article>

                    <article>
                        <a href="https://github.com/tunkcalb/donggam" class="image">
                            <img src="./images/gala.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h4>갈라랩</h4>
                            <p>설명</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <section id="six" text-align="center">
            <div class="container">
                <h3>Certification</h3>
                <ul class="icons">
                    <li>정보처리기사(2024.09.10)</li>
                    <br />
                    <li>데이터분석 준전문가(ADSP)(2024.06.07)</li>
                </ul>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>&copy; Untitled. All rights reserved.</li>
                <li style="color: black">
                    이 사이트는 포트폴리오 용도로 제작하였으며 상업적인 용도로
                    사용하지 않음을 밝힙니다.
                </li>
            </ul>
        </div>
    </section>
</div>
