@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>백엔드 개발자 포트폴리오</h2>
                    <h3>
                        안녕하세요. <br />
                        고이지 않는 백엔드 개발자 <br />
                        정성균 입니다.
                    </h3>
                </header>
                <hr />
                <header class="major">
                    <h5>이름 : 정성균</h5>
                    <h5>생년월일 : 93.01.07</h5>
                    <h5>위치 : 용인시 수지구</h5>
                    <h5>연락처 : 010-9596-6352</h5>
                    <h5>이메일 : memoryman93@gmail.com</h5>
                    <hr />
                </header>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>Skills</h3>
                <p>Language</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-laptop-code"></i> C#</li>
                    <li><i class="fa-solid fa-laptop-code"></i> JavaScript</li>
                </ul>
                <p>Frontend</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-paintbrush"></i> JQuery</li>
                    <li><i class="fa-solid fa-paintbrush"></i> HTML</li>
                    <li><i class="fa-solid fa-paintbrush"></i> CSS</li>
                    <li><i class="fa-solid fa-palette"></i> Razor</li> <!-- 디자인 요소 강조 -->
                </ul>

                <p>Backend</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-database"></i> MSSQL</li>
                    <li><i class="fa-solid fa-server"></i> .NET</li>
                    <li><i class="fa-solid fa-server"></i> ASP.NET</li>
                    <li><i class="fa-solid fa-server"></i> ASP</li>
                    <li><i class="fa-solid fa-cloud"></i> AWS</li>
                    <li><i class="fa-solid fa-cloud"></i> NCP</li>
                    <li><i class="fa-solid fa-network-wired"></i> IIS</li> <!-- 네트워크 서버 역할 강조 -->
                    <li><i class="fa-solid fa-palette"></i> Dapper</li> 
                </ul>

                <p>Tool</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-wrench"></i> Visual Studio</li>
                    <li><i class="fa-brands fa-github"></i> GitHub</li>
                    <li><i class="fa-brands fa-gitlab"></i> GitLab</li>
                    <li><i class="fa-brands fa-slack"></i> Slack</li>
                    <li><i class="fa-solid fa-note-sticky"></i> Notion</li> <!-- Notion은 메모 느낌 강조 -->
                </ul>

            </div>
        </section>

        <!-- Four -->
        <section id="three" text-align="center">
            <div class="container">
                <h3>Archiving</h3>
                <div class="features">
                    <article>
                        <a href="https://github.com/jm111ah/MemoryMen" class="image">
                            <img src="./images/github.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <a href="https://github.com/jm111ah/MemoryMen">
                                <h4>github.com/jm111ah/MemoryMen</h4>
                            </a>
                        </div>
                    </article>
                    <article>
                        <a href="https://memoryman.tistory.com/page/page-test" class="image">
                            <img src="./images/blog.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <a href="https://memoryman.tistory.com/page/page-test">
                                <h4>memoryman.tistory.com/page/page-test</h4>
                            </a>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="four">
            <div class="container">
                <h3>Projects</h3>

                <div class="features">
                    <article>
                        <a href="https://github.com/jm111ah/MemoryMen/tree/main/Project/LGM" target="_blank" class="image">
                            <img src="./images/project_goMyAPI.png" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h5>가자! 나만의 API</h5>
                            <div class="ProjectDetails_btn-container__bqU_S">
                                <a class="ProjectDetails_show-readme-btn__JtGIi" asp-controller="Home" asp-action="Project_GoMyAPI" target="_blank">
                                    <img alt="IMAGES" loading="lazy" width="16" height="16" decoding="async" data-nimg="1" style="color:transparent" src="~/images/images.44027c45.svg">README
                                </a>

                                <a class="ProjectDetails_show-readme-btn__JtGIi" href="https://github.com/jm111ah/MemoryMen/tree/main/Project/LGM" target="_blank">
                                    <img alt="IMAGES" loading="lazy" width="16" height="16" decoding="async" data-nimg="1" style="color:transparent" src="~/images/github.png">GitHub
                                </a>
                            </div>
                        </div>


                    </article>
                </div>

                <div class="features">
                    <article>
                        <a href="https://github.com/jm111ah/MemoryMen/tree/main/Project/MyName" target="_blank" class="image">
                            <img src="./images/project_myname.webp" alt="" style="width:300px; height:300px;" />
                        </a>
                        <div class="inner">
                            <h5>드디어 포트폴리오 만드니?</h5>
                            <div class="ProjectDetails_btn-container__bqU_S">
                                <a class="ProjectDetails_show-readme-btn__JtGIi" asp-controller="Home" asp-action="Project" target="_blank">
                                    <img alt="IMAGES" loading="lazy" width="16" height="16" decoding="async" data-nimg="1" style="color:transparent" src="~/images/images.44027c45.svg">README
                                </a>

                                <a class="ProjectDetails_show-readme-btn__JtGIi" href="https://github.com/jm111ah/MemoryMen/tree/main/Project/MyName" target="_blank">
                                    <img alt="IMAGES" loading="lazy" width="16" height="16" decoding="async" data-nimg="1" style="color:transparent" src="~/images/github.png">GitHub
                                </a>
                            </div>
                        </div>


                    </article>
                </div>

 
            </div>
        </section>


        <!-- Five -->
        <section id="five" text-align="center">
            <div class="container">
                <h3>Career</h3>
                <div class="features">

                    <article>
                        <div class="image">
                            <img src="./images/ttp.png" alt="" style="width:300px; height:300px;" class="image" />
                        </div>
                        <div class="inner">
                            <h3>(주) 트립토파즈</h3>
                            <h5>여행사</h5>
                            <h5>2021.09 ~ 재직중</h5>
                            <br />
                            <h4>하나투어 API 개발</h4>
                            <h5>하나투어에서 데이터를 받아오기 위한 API 연동 작업</h5>
                            <br />
                            <h4>오픈마켓 API 개발</h4>
                            <h5>오픈마켓에 데이터를 제공하기 위한 오픈마켓 전용 API 개발</h5>
                            <br />
                            <h4>숙박세일페스타 API 개발</h4>
                            <h5>한국관광공사에서 제공하는 쿠폰 API로 커뮤니케이션 및 문서 정리 적극 진행</h5>
                            <br />
                            <h4>네이버톡톡 API 개발</h4>
                            <h5>마케팅 정보 전달을 위해서 대량의 고객 데이터를 비동기 및 병렬 프로세스 개발</h5>
                        </div>
                    </article>


                    <article>
                        <div class="image">
                            <img src="./images/interpark.png" alt="" style="width:300px; height:300px;" />
                        </div>
                        <div class="inner">
                            <h3>(주) 인터파크 비즈마켓</h3>
                            <h5>B2B 전자상거래 회사</h5>
                            <h5>2019.08 ~ 2021.08</h5>
                            <br />
                            <h4>백오피스 관리 및 각종 기능 개발</h4>
                            <h5>ASP로 구성되어 있는 관리자페이지 리뉴얼 및 개발</h5>
                            <br />
                            <h4>고객사 임직원몰 개발</h4>
                            <h5>WebFrom 환경에서 신규 고객사 임직원몰 Frontend Backend 개발</h5>
                        </div>
                    </article>


                  @*   <article>
                        <div class="image">
                            <img src="./images/ufit.png" alt="" style="width:300px; height:300px;" />
                        </div>
                        <div class="inner">
                            <h3>(주) 유핏</h3>
                            <h5>교육 서비스 플랫폼 회사</h5>
                            <h5>2019.01 ~ 2019.07</h5>
                            <br />
                            <h4>데스크톱 애플리케이션 개발</h4>
                            <h5>하드웨어에서 전달받은 데이터를 기반으로 WinForm 개발</h5>
                        </div>
                    </article> *@

                @*     <article>
                        <div class="image">
                            <img src="./images/suprema.jpg" alt="" style="width:300px; height:300px;" />
                        </div>
                        <div class="inner">
                            <h3>(주) 슈프리마</h3>
                            <h5>보안 솔루션 회사</h5>
                            <h5>2018.03 ~ 2018.12</h5>
                            <br />
                            <h4>회원 DB 관리</h4>
                            <h5>회원 데이터 추출 및 관리</h5>
                            <br />
                            <h4>하드웨어와 소프트웨어 통신 연결</h4>
                            <h5>보안 출입 기기와 소프트웨어를 연결하여 데이터를 공유할 수 있도록 처리</h5>
                        </div>
                    </article> *@

                    <article>
                        <div class="image">
                            <img src="./images/gala.png" alt="" style="width:300px; height:300px;" />
                        </div>
                        <div class="inner">
                            <h3>(주) 갈라랩</h3>
                            <h5>게임회사</h5>
                            <h5>2017.01 ~ 2018.02</h5>
                            <br />
                            <h4>DB 이전</h4>
                            <h5>사내 IDC에 있던 DB 서버를 클라우드 AWS 서버로 이전</h5>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <section id="six" text-align="center">
            <div class="container">
                <h3>Certification</h3>
                <ul class="icons">
                    <li>정보처리기사(2024.09.10)</li>
                    <br />
                    <li>데이터분석 준전문가(ADSP)(2024.06.07)</li>
                </ul>
            </div>
        </section>
    </div>

    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <ul class="copyright">
                <li>2025. Jung Seong Kyun</li>
            </ul>
        </div>
    </section>
</div>

