@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}



<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one">
            <div class="container">
                <header class="major">
                    <h2>백엔드 개발자 포트폴리오</h2>
                    <h3>
                        안녕하세요. <br />
                        고이지 않는 백엔드 개발자 <br />
                        정성균 입니다.
                    </h3>
                </header>
                <hr />
                <header class="major">
                    <h5>이름 : 정성균</h5>
                    <h5>생년월일 : 93.01.07</h5>
                    <h5>위치 : 용인시 수지구</h5>
                    <h5>연락처 : 010-9596-6352</h5>
                    <h5>이메일 : memoryman93@gmail.com</h5>
                    <hr />
                </header>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>Skills</h3>
                <p>Language</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-laptop-code"></i> C#</li>
                    <li><i class="fa-solid fa-laptop-code"></i> JavaScript</li>
                </ul>
                <p>Frontend</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-paintbrush"></i> JQuery</li>
                    <li><i class="fa-solid fa-paintbrush"></i> HTML</li>
                    <li><i class="fa-solid fa-paintbrush"></i> CSS</li>
                    <li><i class="fa-solid fa-palette"></i> Razor</li> <!-- 디자인 요소 강조 -->
                </ul>

                <p>Backend</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-database"></i> MSSQL</li>
                    <li><i class="fa-solid fa-server"></i> .NET</li>
                    <li><i class="fa-solid fa-server"></i> ASP.NET</li>
                    <li><i class="fa-solid fa-server"></i> ASP</li>
                    <li><i class="fa-solid fa-cloud"></i> AWS</li>
                    <li><i class="fa-solid fa-cloud"></i> NCP</li>
                    <li><i class="fa-solid fa-network-wired"></i> IIS</li> <!-- 네트워크 서버 역할 강조 -->
                </ul>

                <p>Tool</p>
                <ul class="feature-icons">
                    <li><i class="fa-solid fa-wrench"></i> Visual Studio</li>
                    <li><i class="fa-brands fa-github"></i> GitHub</li>
                    <li><i class="fa-brands fa-gitlab"></i> GitLab</li>
                    <li><i class="fa-brands fa-slack"></i> Slack</li>
                    <li><i class="fa-solid fa-note-sticky"></i> Notion</li> <!-- Notion은 메모 느낌 강조 -->
                </ul>

            </div>
        </section>
</div>

